.checkoutProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  max-height: 400px;
  min-width: 250px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  flex: 1;
}

.checkoutProduct > img {
  max-height: 8em;
  width: 100%;
  object-fit: contain;
}

.checkoutProduct > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.5em;
  cursor: pointer;
}

.checkoutProductTitle {
  height: fit-content;
  font-weight: bold;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.checkoutProductPrice {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.checkoutProductRating {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
}
