/* SearchBar */
.searchBar {
  height: 3em;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 75%;
  margin: 2rem 1rem;
}

.searchBarInput {
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #252525;
  color: black;
  padding-left: 0.5em;
  font-size: 1.3em;
  text-align: center;
}

.searchBarInput:focus {
  outline: none;
}

.searchBarIcon {
  width: 20%;
  height: 100%;
  border: none;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #252525;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 0;
}

@media (min-device-width: 481px) {
  .searchBar {
    width: 50%;
  }

  .searchBarIcon {
    width: 10%;
  }
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

@media (min-device-width: 481px) {
  .filtersContainer {
    justify-content: space-evenly;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0.5rem;
  padding: 0.1em 0.5em;
}

.selectLabel {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #131921;
  color: white;
  font-size: 1.3em;
  text-align: center;
}

.price {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #131921;
  color: white;
  font-size: 1.3em;
  text-align: center;
}

#catalogue {
  width: 100%;
  height: 100%;
}

#catalogueContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#catalogueProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1rem;
}

.itemCard {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 2rem 0;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
}

@media (min-device-width: 481px) {
  .itemCard {
    width: 27%;
  }
}

.cardImage {
  width: 100%;
  border-radius: inherit;
}

img {
  max-height: 100%;
  max-width: 100%;
  border-radius: inherit;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.moreButton {
  width: 90%;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-device-width: 481px) {
  .moreButton {
    font-size: 0.9em;
  }
}
