.checkout {
  display: flex;
  padding: 20px;
  background-color: #eaeded;
  height: max-content;
  justify-content: space-between;
}

h3 {
  width: 100%;
  font-size: 1.5em;
  margin-right: 10px;
  padding: 10px;
}

.checkoutTitle {
  width: 100%;
  font-size: 2em;
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkoutCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.checkoutProducts {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.checkoutSubtotal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  position: sticky;
  bottom: 0;
  z-index: 100;
}
