/* Delete scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Change header on mobile device */
@media (max-device-width: 480px) {
  .onMobileHide {
    display: none !important;
  }

  .onMobileLink {
    font-size: 0.8em !important;
  }
  .onMobileInput::placeholder {
    font-size: 0.7em !important;
    font-weight: bold;
    padding-left: 0.1em !important;
    justify-content: center;
  }
  .onMobileInput {
    width: 25% !important;
  }
}

@media (min-device-width: 481px) {
  .onComputerHide {
    display: none !important;
  }

  .onComputerLink {
    display: block !important;
    font-size: 1.5em;
  }
  .onMobileInput::placeholder {
    font-size: 1.5em !important;
    padding-left: 0.5em !important;
    justify-content: center;
  }
}

/* Headers */
.header {
  height: 40% !important;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: left;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.mainHeader {
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #131921;
}

.secondaryHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Logo */
.headerLink {
  width: 20% !important;
  display: flex;
  align-items: center;
  margin: 0;
}

.headerLogo {
  width: 100%;
  height: 100%;
}

.headerLogo:hover {
  transform: scaleX(1.3);
  transform: scaleY(1.1);
}

.headerLogo:active {
  transform: translateY(4px);
}

@media (min-device-width: 481px) {
  .headerLogo {
    width: 40% !important;
  }
}

.title {
  font-size: 2.5em;
  color: #4ab5ac;
  font-weight: bold;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 0.5em;
}

@media (min-device-width: 481px) {
  .title {
    font-size: 4em !important;
  }
}

/* Navbar */
.headerNav {
  height: 2.5em;
  display: flex;
  align-items: center !important;
  justify-content: space-evenly;
  width: 20%;
}

.headerNavLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0.2em;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.3em;
  overflow: hidden;
  text-decoration: none;
}

a {
  display: flex;
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

@media (min-device-width: 481px) {
  a {
    font-size: 1.3em;
  }
}

.spacePlease {
  margin: 0 2rem;
}

.headerButton:hover {
  transform: scaleX(1.3);
  transform: scaleY(1.1);
  color: #2877dd;
}

.headerButton:active {
  transform: translateY(4px);
}

#profileUnderline {
  text-decoration: underline !important;
}
